<img class="right-img" src="/assets/img/avatar-frank-gjertsen.png" alt="Frank Gjertsen">
<p class="">I'm Frank Gjertsen, a web designer and front-end developer from Norway. I made my first website in 2005, and have ever since been inspired by the flexibility there is on the internet.</p>
<ul class="list-reset list-sprite social-links">
  <li><a href="https://twitter.com/fragje"><i class="icon icon-twitter"></i>I'm @fragje on Twitter</a></li>
  <li><a href="https://github.com/fragje"><i class="icon icon-github"></i>and I have a GitHub account</a></li>
</ul>