
.ui-github-large {
	width: 40px;
	height: 40px;
	background-position: -0px 0;
}

.ui-logo-large {
	width: 160px;
	height: 160px;
	background-position: -80px 0;
}

.ui-minus-large {
	width: 36px;
	height: 36px;
	background-position: -280px 0;
}

.ui-plus-large {
	width: 36px;
	height: 36px;
	background-position: -360px 0;
}

.ui-twitter-large {
	width: 40px;
	height: 40px;
	background-position: -440px 0;
}

.ui-github-large,
.ui-logo-large,
.ui-minus-large,
.ui-plus-large,
.ui-twitter-large {
	background-image: url(../../img/sprites/ui-icons-large-sprite.png);
	background-size: 520px 160px;
}

.ui-github-small {
	width: 20px;
	height: 20px;
	background-position: -0px 0;
}

.ui-logo-small {
	width: 80px;
	height: 80px;
	background-position: -40px 0;
}

.ui-minus-small {
	width: 18px;
	height: 18px;
	background-position: -140px 0;
}

.ui-plus-small {
	width: 18px;
	height: 18px;
	background-position: -180px 0;
}

.ui-twitter-small {
	width: 20px;
	height: 20px;
	background-position: -220px 0;
}

.ui-github-small,
.ui-logo-small,
.ui-minus-small,
.ui-plus-small,
.ui-twitter-small {
	background-image: url(../../img/sprites/ui-icons-small-sprite.png);
	background-size: 260px 80px;
}

.svg .ui-github-large,
.svg .ui-logo-large,
.svg .ui-minus-large,
.svg .ui-plus-large,
.svg .ui-twitter-large,
.svg .ui-github-small,
.svg .ui-logo-small,
.svg .ui-minus-small,
.svg .ui-plus-small,
.svg .ui-twitter-small {
	background-image: url(../../img/sprites/ui-icons-sprite.svg);
}
